<div class="header">
    <h2 class="page-header">Form</h2>
</div>

<div id="form-test-div">
    <form id="form-test" name="form-test">

        <div class="form-group row">
            <label class="col-sm-2 col-form-label">Group</label>
            <div class="col-sm-4">
                <select id="group" name="group" class="js-data-example-ajax">
                </select>
            </div>
        </div>

        <div class="form-group row">
            <label class="col-sm-2 col-form-label">Selected Info</label>
            <div class="col-sm-4">
                <span id="selected-group-info"></span>
            </div>
        </div>

        <div class="form-group row">
            <label class="col-sm-2 col-form-label">Auto Selected Group</label>
            <div class="col-sm-4">
                <select id="auto-selected-group" name="auto-selected-group" class="js-data-example-ajax">
                </select>
            </div>
        </div>

    </form>
</div>